<section class="start-section">
    <h4 class="fk-title-bigger"><span>#</span>FastabiqulKhoirot</h4>
    <h1 class="welcome">Selamat Datang!</h1>
    <p class="sub-welcome">FastabiqulKhoirot adalah aplikasi web sederhana untuk mencatat rencana aktifitas
        keseharianmu, dengan mencata
        apa yang ingin kita lakukan nanti hal tersebut membantu kita untuk lebih produktif dalam mengerjakan
        yang
        hal hal yang bermanfaat untuk kita #FastabiqulKhoirot</p>
    <input id="name-input" type="text" placeholder="Masukan Namamu" maxlength="30">
    <button class="btn-mulai" onclick="startFk()">Mulai!</button>
</section>