<section class="start-section">
    <h4 class="fk-title-bigger"><span>#</span>FastabiqulKhoirot</h4>
    <h1 class="welcome">Welcomes!</h1>
    <p class="sub-welcome">FastabiqulKhoirot is a simple web application to record your daily activity plan, by noting what we want to do later, it helps us to be more productive in doing things that are useful for us #FastabiqulKhoirot</p>
    <input id="name-input" type="text" placeholder="Your name" maxlength="30">
    <button class="btn-mulai" onclick="startFk()">Start!</button>
</section>